@import './variables.scss';

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: $red;

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Selfie
.home-img {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.polaroid a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.3);
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.polaroid a:after {
  color: $black;
  font-family: $handwritten;
	font-size: 2rem;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid img {
	display: block;
  height: 28rem;
}

@media (max-width: 800px) {
  html {
    font-size: 7px;
  }
}

.polaroid {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.polaroid:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
      transform: scale(1.25);
}

.project .polaroid:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
}

.title {
  text-align: center;
  font-size: 2rem;
  color: white;
}
