@import './variables.scss';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: $font;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: $logo;
  font-size: 10rem;
  color: white;
  margin: 0;
  text-align: center;
}
